<div class="container m-5 d-flex justify-content-around">
  <a class="btn btn-info p-3" routerLink="/exercice/menu/exercice1">Exercice 1</a>
  <a class="btn btn-info p-3" routerLink="./exercice2">Exercice 2</a>
  <a class="btn btn-info p-3" routerLink="/exercice/menu/exercice1">Exercice 3</a>
  <a class="btn btn-info p-3" routerLink="/exercice/menu/exercice1">Exercice 4</a>
  <a class="btn btn-info p-3" routerLink="/exercice/menu/exercice1">Exercice 5</a>

</div>
<router-outlet></router-outlet>


